body{
    font-family: Arial;
    background-color:#f4f4f4;
    text-align:center;
}

h1{
    color:#2c3e50;
}

a{
    padding:10px;
    text-decoration:none;
    color:white;
    background:#3498db;
    margin:5px;
    border-radius:5px;
}