body{
    font-family: 'Segoe UI', sans-serif;
    background:#ecf0f1;
    margin:0;
}


.navbar{
    background:#2c3e50;
    padding:15px;
    text-align:center;
}

.navbar a{
    color:white;
    margin:0 15px;
    text-decoration:none;
    font-weight:bold;
}

.navbar a:hover{
    color:#1abc9c;
}


.container{
    width:80%;
    max-width:900px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:12px;
    box-shadow:0px 0px 12px rgba(0,0,0,0.12);
}


h1{
    color:#34495e;
    margin-top:0;
}


ul{
    text-align:left;
    display:inline-block;
    margin:0;
    padding-left:18px;
}


.btn{
    display:inline-block;
    margin-top:18px;
    padding:10px 18px;
    background:#1abc9c;
    color:white;
    border-radius:8px;
    text-decoration:none;
}

.btn:hover{
    background:#16a085;
}
